body {
	margin: 0;
	background: darkgray;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
#verticalButtons {
	display: flex;
	flex-direction: column;
}

button {
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 7px;
	margin-top: 10px;
	margin-right: 7px;
	margin-left: 7px;
}

button:hover {
	background-color: blue;
}

#carCanvas {
	background-color: lightgray;
}

#networkCanvas {
	background-color: black;
}
